.cardContainer{
    padding:0 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.MovieCard{
    background-color: rgba(45, 42, 42, 0.2);
    padding:0 1rem;
    display: flex;
    gap: 4rem;
    max-height: 142.53px;
    justify-content: space-between;
}

.description{
align-self: center;
word-wrap:break-word;
word-break:normal;
overflow: hidden;
}

.ratings{
align-self: center;

}

.lang{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.lang *{
background-color: rgba(45, 42, 42, 0.2);
padding: 0.3rem;
border-radius: 30px;
}