:root {
    --main-color: rgb(13, 11, 12);
    --second-color: #00000062;
    --background-color: rgb(245 245 242);
}
.App {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
body {
    background-color: var(--background-color);
}

.Nav {
    margin-top: 50px;
    display: flex;
    font-size: 3rem;
    width: 100vw;
    justify-content: space-around;
}

.Nav a {
    color: var(--main-color);
    text-decoration: none;
}

.Nav a:hover {
    color: gray;
    text-decoration: none;
}
